@import url("/node_modules/bootstrap/dist/css/bootstrap.min.css");
.form-data label {
  width: 80px;
  display: inline-block;
  margin-bottom: 10px;
}
.form-data input {
  width: 400px;
}
.App {
  background-color: rgb(204, 252, 252);
  padding: 10px;
}
